<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cpujazz.front.mapper.RoomMapper">
    <insert id="insertOne">
        insert into room (room_name, room_password, description, owner_id, is_public, created_at, updated_at)
        VALUES (#{roomName}, #{roomPassword}, #{description}, #{ownerId}, #{isPublic}, #{createdAt},
                #{updatedAt})
    </insert>

    <select id="selectAllList" resultType="com.cpujazz.front.pojo.entity.Room">
        select *
        from room
    </select>
    <select id="selectByRoomName" resultType="com.cpujazz.front.pojo.entity.Room">
        select *
        from room
        where room_name = #{roomName}
    </select>
    <select id="selectByRoomId" resultType="com.cpujazz.front.pojo.entity.Room">
        select *
        from room
        where id = #{roomId}
    </select>

</mapper>