<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cpujazz.front.mapper.RoomMemberMapper">


    <select id="countRoomMembers" resultType="java.lang.Integer">
        select count(room_members.user_id)
        from room_members
        where room_id = #{roomId}
    </select>
</mapper>